    <article class="post">
        <div class="d-flex post-header">
            <h3>{{title}}</h3>
            <p>by {{user.username}} on {{format_date created_at}}</p>
        </div>
        <p class="post-content text-left">{{text}}</p>
    </article>