<div class="d-flex new-post">
    <button class="btn" id="new-post">Create a New Post</button>
</div>
<div>
    {{#each posts}}
    <div class="post">s
        <div class="d-flex post-header">
            <h2>{{title}}</h2>
            <p>by {{user.username}} on {{format_date created_at}}</p>
        </div>
        <p class="post-content">{{text}}</p>
    </div>
    {{/each}}
</div>
