<form class="d-flex login-form text-center justify-content-center">
    <div class="col-lg-6 col-md-12">
        <h3 class="p-4">Login</h3>
        <div class="input-group mb-3">
            <label for="username" class="input-group-text">Username:</label>
            <input name="username" id="username" type="text" class="form-control card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>						
        <div class="input-group mb-3 ">
            <label for="password" class="input-group-text password">Password:</label>
            <input name="password" id="password" type="password" class="form-control card-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>					
        <button type="submit" id="login-btn" class="btn">Login</button>
    </div>
</form>

<script src="/scripts/login.js"></script>