<div class="d-flex w-100 justify-content-center">
    <div class="col-lg-6 col-md-12">
        <h2>Creating a New Post</h2>

        <form class="newPost-form">
            <label for="title" >Title</label></br>
            <input type="text" id="title" name="title" class="w-100 form-control"></br>
            <label for="content">Content</label></br>
            <textarea id="content" class="w-100 form-control"></textarea>
            <div class="text-center m-4">
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>
    </div>

</div>

<script src="/scripts/newpost.js"></script>