<h2>Creating a New Post</h2>

<form class="newPost-form">
    <label for="title" >Title</label></br>
    <input type="text" id="title" name="title" class="w-100 form-control"></br>
    <label for="content">Content</label></br>
    <textarea id="content" class="w-100 form-control"></textarea>
    <div class="text-center m-4">
        <input type="submit" value="Submit" class="btn">
    </div>
</form>

<script src="/scripts/newpost.js"></script>