header {
    border-bottom: 1px darkgray solid;
    padding-bottom: 10px;
}

nav {
    margin: auto;
}

/* ----------------------------- */

main h2 {
    padding-top: 25px;
}

.btn {
    background-color: white;
}

.btn:hover {
    background-color: rgb(225, 225, 225);
}

nav a {
    text-decoration: none;
    border-right: 1px darkgray solid;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:hover {
    text-decoration: none;
    color: white;
}

/* ----------------------------- */

#username, #password, #password-confirm {
    margin: auto;}

/* ----------------------------- */

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: none;
}

/* ----------------------------- */

#delete {
    background-color: white;
}

#delete:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ----------------------------- */

.post, .comment {
    border: 1px darkgray solid;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.comment {
    border: 1px darkgray dotted;
}

.post:hover {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 25px 10px white;
}

.noHover:hover {
    background-color: transparent;
    box-shadow: none;
}

.post-header, .comment-header {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px darkgray solid;
}

.comment-header {
    border-bottom: 1px darkgray dotted;
}

.post-header h3 {
    padding-top: 10px;
}

.post-header p {
    padding-left: 10px;
    padding-top: 17px;    
}

.post-content {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.new-post {
    position: relative;
    width: 100%;
    height: 75px;
}

#new-post {
    position: absolute;    
    left: 50%;
    transform: translate(-50%);
}

.comment h4 {
    padding-top: 10px;
    font-size: 18px;
}

.comment h4 span {
    font-size: 12px;
}

.comment p {
    font-size: 14px;
}